* {
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to right, rgba(76, 74, 185, 0.534), rgb(27, 5, 224));
}

#main-container {
    margin-top: 30px;
    margin: 10px;
}

#search-form {
    border-bottom: 3px solid grey;
    width: 100%;
    padding: 0;
}

#city-search {
    font-size: 20px;
}

#city-search-term, #date {
    font-weight: bold;
}

#search-form button {
    color: white;
}

.form-label {
    font-weight: bold;
    font-size: 25px;
}

.current-header {
    display: flex;
}

.current-weather {
    border: 1px solid black;
    padding-left: 5px;
    padding-bottom: 20px;
}

.list-group {
    list-style-type: none;
    line-height: 2.4;
}

.forecast-header h4 {
    font-weight: bold;
    padding-top: 25px;
}

.forecast-date {
    font-size: 22px;
    font-weight: bold;
    padding-top: 5px;
}
