* {
    font-size: 30px;
}

header {
    background-image: linear-gradient(to right, rgba(76, 74, 185, 0.534), rgb(27, 5, 224));
}

#search-form {
    border-bottom: 3px solid grey;
    width: 100%;
    padding: 0;
}

.current-header {
    display: flex;
}

.current-weather {
    border: 1px solid black;
    padding-left: 5px;
    padding-bottom: 20px;
}

.list-group {
    list-style-type: none;
}

.forecast-header h4 {
    font-weight: bold;
    padding-top: 25px;
}

.history-buttons {
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
}
